<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="600">
    <title>Dashboard</title>
    <link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/lib/tailwindcss.js"></script>
    <script src="/lib/apexcharts.js"></script>
    <script src="https://code.jscharting.com/latest/jscharting.js"></script>
</head>
<body>

    <!-- Navbar -->
    <div class="md:px-7 px-3 fixed top-0 left-0 w-full z-20 bg-white">
        <div class="flex justify-between items-center">
            <div class="flex justify-between items-center">

                <!-- Logo -->
                <a href="/dashboard" class="order-2 md:order-1 md:ml-0 ml-10">
                    <img src="/img/logo.png" alt="" class="w-20 h-[70px] object-contain">
                </a>
                <div class="text-lg font-bold uppercase ml-10 md:block hidden order-2">Admin Dashboard</div>
                <div id="hamburger_btn"
                    class="md:hidden block md:order-2 order-1 md:mt-0 mt-3 ml-0 md:ml-10 h-fit bg-[#ddeee5] hover:bg-[#00a651] p-1.5 rounded cursor-pointer hamburger_div">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24" fill="none"
                        class="hamburger_icon" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                        class="tabler-icon tabler-icon-menu-2">
                        <path d="M4 6l16 0"></path>
                        <path d="M4 12l16 0"></path>
                        <path d="M4 18l16 0"></path>
                    </svg>
                </div>
            </div>
            <div class="">
                <div class="flex items-center">
                    <div class="bg-[#ddeee5] hover:bg-[#F2F3F3] p-1.5 rounded cursor-pointer md:mr-0 mr-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" class="tabler-icon tabler-icon-bell">
                            <path
                                d="M10 5a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6">
                            </path>
                            <path d="M9 17v1a3 3 0 0 0 6 0v-1"></path>
                        </svg>
                    </div>
                    <div class="md:block hidden bg-[#F2F3F3] hover:bg-[#ddeee5] p-1.5 rounded cursor-pointer md:mx-3 fullscreen"
                        id="fullscreen_btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="tabler-icon tabler-icon-arrows-maximize">
                            <path d="M16 4l4 0l0 4"></path>
                            <path d="M14 10l6 -6"></path>
                            <path d="M8 20l-4 0l0 -4"></path>
                            <path d="M4 20l6 -6"></path>
                            <path d="M16 20l4 0l0 -4"></path>
                            <path d="M14 14l6 6"></path>
                            <path d="M8 4l-4 0l0 4"></path>
                            <path d="M4 4l6 6"></path>
                        </svg>
                    </div>
                    <a href="/profile" id="profile_initial"
                        class=" w-9 h-9 flex uppercase items-center bg-[#ddeee5] text-sm font-bold text-center flex justify-center hover:bg-[#00a651] hover:text-white cursor-pointer p-1.5 rounded-full profile_div">
                    </a>
                </div>
            </div>
        </div>

        <!-- sidebar mobile responsive -->
        <div class="sidebar_mobile_container md:hidden" id="sidebar_mobile_container">
            <div class="sidebar_mobile">
                <div class="h-full p-5 md:px-3 md:py-4  overflow-y-auto bg-white-50 text-black">
                    <a href="/dashboard" class="flex justify-center items-center mb-6">
                        <img src="/img/logo.png" alt="" class="w-20 h-[70px] object-contain">
                    </a>
                    <ul>
                        <% if(user==='Owner' || user==='Editor' || user==='Viewer' ){ %>
                        <li class="mb-2" id="live_dashboard_mob_nav">
                            <a href="/dashboard"
                                class="flex items-center bg-[#ddeee5] py-3 px-5 text-sm font-medium rounded-full">
                                <svg fill="#000000" class="mr-3" width="23px" height="23px" viewBox="0 0 24 24"
                                    id="dashboard" data-name="Line Color" xmlns="http://www.w3.org/2000/svg"
                                    class="icon line-color">
                                    <path id="secondary"
                                        d="M21,7V4a1,1,0,0,0-1-1H15a1,1,0,0,0-1,1V7a1,1,0,0,0,1,1h5A1,1,0,0,0,21,7ZM10,20V17a1,1,0,0,0-1-1H4a1,1,0,0,0-1,1v3a1,1,0,0,0,1,1H9A1,1,0,0,0,10,20Z"
                                        style="fill: none; stroke: #00a651; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;">
                                    </path>
                                    <path id="primary"
                                        d="M9,12H4a1,1,0,0,1-1-1V4A1,1,0,0,1,4,3H9a1,1,0,0,1,1,1v7A1,1,0,0,1,9,12Zm12,8V13a1,1,0,0,0-1-1H15a1,1,0,0,0-1,1v7a1,1,0,0,0,1,1h5A1,1,0,0,0,21,20Z"
                                        style="fill: none; stroke: #BCBEC0; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;">
                                    </path>
                                </svg>
                                Live Dashboard
                            </a>
                        </li>
                        <% } %>

                        <% if(user==='Owner' || user==='Editor' || user==='Viewer' ){ %>
                        <li class="mb-2" id="report_mob_nav">
                            <a href="/reports"
                                class="flex items-center hover:bg-[#ddeee5] py-3 px-5 text-sm hover:font-medium rounded-full">
                                <svg fill="#000000" width="23px" height="23px" class="mr-3" viewBox="0 0 24 24"
                                    id="report-pie-chart-3" data-name="Line Color" xmlns="http://www.w3.org/2000/svg"
                                    class="icon line-color">
                                    <path id="primary"
                                        d="M16,17v3a1,1,0,0,1-1,1H4a1,1,0,0,1-1-1V4A1,1,0,0,1,4,3H15a1,1,0,0,1,1,1V7"
                                        style="fill: none; stroke: #00a651; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;">
                                    </path>
                                    <path id="secondary"
                                        d="M16,7a5,5,0,1,0,5,5A5,5,0,0,0,16,7Zm5,5H16V7A5,5,0,0,1,21,12Z"
                                        style="fill: none; stroke: #BCBEC0; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;">
                                    </path>
                                </svg>
                                Reports
                            </a>
                        </li>
                        <% } %>

                        <% if(user==='Owner' || user==='Editor' ){ %>
                        <li class="mb-2" id="work_order_mob_nav">
                            <a href="/work-order"
                                class="flex items-center hover:bg-[#ddeee5] py-3 px-5 text-sm hover:font-medium rounded-full">
                                <svg fill="#000000" width="23px" class="mr-3" height="23px" viewBox="0 0 24 24"
                                    id="work" data-name="Line Color" xmlns="http://www.w3.org/2000/svg"
                                    class="icon line-color">
                                    <path id="primary"
                                        d="M16,4a1,1,0,0,0-1-1H9A1,1,0,0,0,8,4V7h8Zm5,16V8a1,1,0,0,0-1-1H4A1,1,0,0,0,3,8V20a1,1,0,0,0,1,1H20A1,1,0,0,0,21,20Z"
                                        style="fill: none; stroke: #00a651; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;">
                                    </path>
                                    <path id="secondary"
                                        d="M11,14H8.64A4,4,0,0,1,5,11.58L3.18,7.43A1,1,0,0,1,4,7H20a1,1,0,0,1,.82.43L19,11.58A4,4,0,0,1,15.36,14H13"
                                        style="fill: none; stroke: #BCBEC0; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;">
                                    </path>
                                    <rect id="primary-2" data-name="primary" x="11" y="13" width="2" height="2"
                                        style="fill: none; stroke: #00a651; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;">
                                    </rect>
                                </svg>
                                Work Orders
                            </a>
                        </li>
                        <% } %>

                        <% if(user==='Owner'){ %>
                        <li class="mb-2" id="device_manager_mob_nav">
                            <a href="/device-manager"
                                class="flex items-center hover:bg-[#ddeee5] py-3 px-5 text-sm hover:font-medium rounded-full">
                                <svg width="23px" height="23px" class="mr-3" viewBox="0 0 16 16" id="device-16px"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <rect id="Retângulo_223" data-name="Retângulo 223" width="16" height="16"
                                        fill="#ccc" opacity="0" />
                                    <g id="Icone" transform="translate(0.648 0.648)">
                                        <g id="Retângulo_203" data-name="Retângulo 203"
                                            transform="translate(2.352 2.352)" fill="none" stroke="#00a651"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-width="1">
                                            <rect width="10" height="10" stroke="none" />
                                            <rect x="0.5" y="0.5" width="9" height="9" fill="none" />
                                        </g>
                                        <g id="Retângulo_206" data-name="Retângulo 206"
                                            transform="translate(5.352 5.352)" fill="none" stroke="#00a651"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-width="1">
                                            <rect width="4" height="4" stroke="none" />
                                            <rect x="0.5" y="0.5" width="3" height="3" fill="none" />
                                        </g>
                                        <g id="Grupo_327" data-name="Grupo 327" transform="translate(-0.191 1)">
                                            <line id="Linha_24" data-name="Linha 24" y1="3"
                                                transform="translate(5.543 10.852)" fill="none" stroke="#BCBEC0"
                                                stroke-linecap="round" stroke-width="1" />
                                            <line id="Linha_28" data-name="Linha 28" y1="3"
                                                transform="translate(7.543 10.852)" fill="none" stroke="#BCBEC0"
                                                stroke-linecap="round" stroke-width="1" />
                                            <line id="Linha_29" data-name="Linha 29" y1="3"
                                                transform="translate(9.543 10.852)" fill="none" stroke="#BCBEC0"
                                                stroke-linecap="round" stroke-width="1" />
                                        </g>
                                        <g id="Grupo_328" data-name="Grupo 328" transform="translate(-0.191 -11)">
                                            <line id="Linha_24-2" data-name="Linha 24" y1="3"
                                                transform="translate(5.543 10.852)" fill="none" stroke="#BCBEC0"
                                                stroke-linecap="round" stroke-width="1" />
                                            <line id="Linha_28-2" data-name="Linha 28" y1="3"
                                                transform="translate(7.543 10.852)" fill="none" stroke="#BCBEC0"
                                                stroke-linecap="round" stroke-width="1" />
                                            <line id="Linha_29-2" data-name="Linha 29" y1="3"
                                                transform="translate(9.543 10.852)" fill="none" stroke="#BCBEC0"
                                                stroke-linecap="round" stroke-width="1" />
                                        </g>
                                        <g id="Grupo_329" data-name="Grupo 329"
                                            transform="translate(1 14.895) rotate(-90)">
                                            <line id="Linha_24-3" data-name="Linha 24" y1="3"
                                                transform="translate(5.543 10.852)" fill="none" stroke="#BCBEC0"
                                                stroke-linecap="round" stroke-width="1" />
                                            <line id="Linha_28-3" data-name="Linha 28" y1="3"
                                                transform="translate(7.543 10.852)" fill="none" stroke="#BCBEC0"
                                                stroke-linecap="round" stroke-width="1" />
                                            <line id="Linha_29-3" data-name="Linha 29" y1="3"
                                                transform="translate(9.543 10.852)" fill="none" stroke="#BCBEC0"
                                                stroke-linecap="round" stroke-width="1" />
                                        </g>
                                        <g id="Grupo_330" data-name="Grupo 330"
                                            transform="translate(-11 14.895) rotate(-90)">
                                            <line id="Linha_24-4" data-name="Linha 24" y1="3"
                                                transform="translate(5.543 10.852)" fill="none" stroke="#BCBEC0"
                                                stroke-linecap="round" stroke-width="1" />
                                            <line id="Linha_28-4" data-name="Linha 28" y1="3"
                                                transform="translate(7.543 10.852)" fill="none" stroke="#BCBEC0"
                                                stroke-linecap="round" stroke-width="1" />
                                            <line id="Linha_29-4" data-name="Linha 29" y1="3"
                                                transform="translate(9.543 10.852)" fill="none" stroke="#BCBEC0"
                                                stroke-linecap="round" stroke-width="1" />
                                        </g>
                                    </g>
                                </svg>
                                Device Manager
                            </a>
                        </li>
                        <% } %>

                        <% if(user==='Owner'){ %>
                        <li class="mb-2" id="user_management_mob_nav">
                            <a href="/user-management"
                                class="flex items-center hover:bg-[#ddeee5] py-3 px-5 text-sm hover:font-medium rounded-full">
                                <svg width="23px" height="23px" class="mr-3" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="9" cy="6" r="4" stroke="#00a651" stroke-width="1.5" />
                                    <path opacity="0.5"
                                        d="M12.5 4.3411C13.0375 3.53275 13.9565 3 15 3C16.6569 3 18 4.34315 18 6C18 7.65685 16.6569 9 15 9C13.9565 9 13.0375 8.46725 12.5 7.6589"
                                        stroke="#BCBEC0" stroke-width="1.5" />
                                    <ellipse cx="9" cy="17" rx="7" ry="4" stroke="#00a651" stroke-width="1.5" />
                                    <path opacity="0.5"
                                        d="M18 14C19.7542 14.3847 21 15.3589 21 16.5C21 17.5293 19.9863 18.4229 18.5 18.8704"
                                        stroke="#BCBEC0" stroke-width="1.5" stroke-linecap="round" />
                                </svg>
                                User Management
                            </a>
                        </li>
                        <% } %>
                        
                        <li class="mb-2">
                            <button
                                id="mob_logout_btn"
                                class="flex items-center hover:bg-[#ffe5e5] py-3 px-5 text-sm w-full hover:font-medium rounded-full">
                                <svg width="23px" height="23px" class="mr-3" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path opacity="0.5"
                                        d="M9.00195 7C9.01406 4.82497 9.11051 3.64706 9.87889 2.87868C10.7576 2 12.1718 2 15.0002 2L16.0002 2C18.8286 2 20.2429 2 21.1215 2.87868C22.0002 3.75736 22.0002 5.17157 22.0002 8L22.0002 16C22.0002 18.8284 22.0002 20.2426 21.1215 21.1213C20.2429 22 18.8286 22 16.0002 22H15.0002C12.1718 22 10.7576 22 9.87889 21.1213C9.11051 20.3529 9.01406 19.175 9.00195 17"
                                        stroke="red" stroke-width="1.5" stroke-linecap="round" />
                                    <path d="M15 12L2 12M2 12L5.5 9M2 12L5.5 15" stroke="#BCBEC0" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                Logout
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!-- Sidebar for desktop  -->
    <aside id="sidebar-multi-level-sidebar"
        class="fixed top-[75px] left-0 z-40 md:w-64 w-0 h-screen transition-transform -translate-x-full sm:translate-x-0"
        aria-label="Sidebar">
        <div class="h-full md:px-3 md:py-4 mt-5 overflow-y-auto bg-white-50 text-black">
            <ul>
                <% if(user==='Owner' || user==='Editor' || user === 'Viewer' ){ %>
                <li class="mb-2" id="live_dashboard_nav">
                    <a href="/dashboard"
                        class="flex items-center bg-[#ddeee5] py-3 px-5 text-sm font-medium rounded-full">
                        <svg fill="#000000" class="mr-3" width="23px" height="23px" viewBox="0 0 24 24" id="dashboard"
                            data-name="Line Color" xmlns="http://www.w3.org/2000/svg" class="icon line-color">
                            <path id="secondary"
                                d="M21,7V4a1,1,0,0,0-1-1H15a1,1,0,0,0-1,1V7a1,1,0,0,0,1,1h5A1,1,0,0,0,21,7ZM10,20V17a1,1,0,0,0-1-1H4a1,1,0,0,0-1,1v3a1,1,0,0,0,1,1H9A1,1,0,0,0,10,20Z"
                                style="fill: none; stroke: #00a651; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;">
                            </path>
                            <path id="primary"
                                d="M9,12H4a1,1,0,0,1-1-1V4A1,1,0,0,1,4,3H9a1,1,0,0,1,1,1v7A1,1,0,0,1,9,12Zm12,8V13a1,1,0,0,0-1-1H15a1,1,0,0,0-1,1v7a1,1,0,0,0,1,1h5A1,1,0,0,0,21,20Z"
                                style="fill: none; stroke: #BCBEC0; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;">
                            </path>
                        </svg>
                        Live Dashboard
                    </a>
                </li>
                <% } %>

                <% if(user==='Owner' || user ==='Editor' || user === 'Viewer' ){ %>
                <li class="mb-2" id="report_nav">
                    <a href="/reports"
                        class="flex items-center hover:bg-[#ddeee5] py-3 px-5 text-sm hover:font-medium rounded-full">
                        <svg fill="#000000" width="23px" height="23px" class="mr-3" viewBox="0 0 24 24"
                            id="report-pie-chart-3" data-name="Line Color" xmlns="http://www.w3.org/2000/svg"
                            class="icon line-color">
                            <path id="primary"
                                d="M16,17v3a1,1,0,0,1-1,1H4a1,1,0,0,1-1-1V4A1,1,0,0,1,4,3H15a1,1,0,0,1,1,1V7"
                                style="fill: none; stroke: #00a651; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;">
                            </path>
                            <path id="secondary" d="M16,7a5,5,0,1,0,5,5A5,5,0,0,0,16,7Zm5,5H16V7A5,5,0,0,1,21,12Z"
                                style="fill: none; stroke: #BCBEC0; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;">
                            </path>
                        </svg>
                        Reports
                    </a>
                </li>
                <% } %>

                <% if(user === 'Owner' || user === 'Editor'){ %>
                <li class="mb-2" id="work_order_nav">
                    <a href="/work-order"
                        class="flex items-center hover:bg-[#ddeee5] py-3 px-5 text-sm hover:font-medium rounded-full">
                        <svg fill="#000000" width="23px" class="mr-3" height="23px" viewBox="0 0 24 24" id="work"
                            data-name="Line Color" xmlns="http://www.w3.org/2000/svg" class="icon line-color">
                            <path id="primary"
                                d="M16,4a1,1,0,0,0-1-1H9A1,1,0,0,0,8,4V7h8Zm5,16V8a1,1,0,0,0-1-1H4A1,1,0,0,0,3,8V20a1,1,0,0,0,1,1H20A1,1,0,0,0,21,20Z"
                                style="fill: none; stroke: #00a651; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;">
                            </path>
                            <path id="secondary"
                                d="M11,14H8.64A4,4,0,0,1,5,11.58L3.18,7.43A1,1,0,0,1,4,7H20a1,1,0,0,1,.82.43L19,11.58A4,4,0,0,1,15.36,14H13"
                                style="fill: none; stroke: #BCBEC0; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;">
                            </path>
                            <rect id="primary-2" data-name="primary" x="11" y="13" width="2" height="2"
                                style="fill: none; stroke: #00a651; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;">
                            </rect>
                        </svg>
                        Work Orders
                    </a>
                </li>
                <% } %>
                
                <% if(user==='Owner'){ %>
                <li class="mb-2" id="device_manager_nav">
                    <a href="/device-manager"
                        class="flex items-center hover:bg-[#ddeee5] py-3 px-5 text-sm hover:font-medium rounded-full">
                        <svg width="23px" height="23px" class="mr-3" viewBox="0 0 16 16" id="device-16px"
                            xmlns="http://www.w3.org/2000/svg">
                            <rect id="Retângulo_223" data-name="Retângulo 223" width="16" height="16" fill="#ccc"
                                opacity="0" />
                            <g id="Icone" transform="translate(0.648 0.648)">
                                <g id="Retângulo_203" data-name="Retângulo 203" transform="translate(2.352 2.352)"
                                    fill="none" stroke="#00a651" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="1">
                                    <rect width="10" height="10" stroke="none" />
                                    <rect x="0.5" y="0.5" width="9" height="9" fill="none" />
                                </g>
                                <g id="Retângulo_206" data-name="Retângulo 206" transform="translate(5.352 5.352)"
                                    fill="none" stroke="#00a651" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="1">
                                    <rect width="4" height="4" stroke="none" />
                                    <rect x="0.5" y="0.5" width="3" height="3" fill="none" />
                                </g>
                                <g id="Grupo_327" data-name="Grupo 327" transform="translate(-0.191 1)">
                                    <line id="Linha_24" data-name="Linha 24" y1="3" transform="translate(5.543 10.852)"
                                        fill="none" stroke="#BCBEC0" stroke-linecap="round" stroke-width="1" />
                                    <line id="Linha_28" data-name="Linha 28" y1="3" transform="translate(7.543 10.852)"
                                        fill="none" stroke="#BCBEC0" stroke-linecap="round" stroke-width="1" />
                                    <line id="Linha_29" data-name="Linha 29" y1="3" transform="translate(9.543 10.852)"
                                        fill="none" stroke="#BCBEC0" stroke-linecap="round" stroke-width="1" />
                                </g>
                                <g id="Grupo_328" data-name="Grupo 328" transform="translate(-0.191 -11)">
                                    <line id="Linha_24-2" data-name="Linha 24" y1="3"
                                        transform="translate(5.543 10.852)" fill="none" stroke="#BCBEC0"
                                        stroke-linecap="round" stroke-width="1" />
                                    <line id="Linha_28-2" data-name="Linha 28" y1="3"
                                        transform="translate(7.543 10.852)" fill="none" stroke="#BCBEC0"
                                        stroke-linecap="round" stroke-width="1" />
                                    <line id="Linha_29-2" data-name="Linha 29" y1="3"
                                        transform="translate(9.543 10.852)" fill="none" stroke="#BCBEC0"
                                        stroke-linecap="round" stroke-width="1" />
                                </g>
                                <g id="Grupo_329" data-name="Grupo 329" transform="translate(1 14.895) rotate(-90)">
                                    <line id="Linha_24-3" data-name="Linha 24" y1="3"
                                        transform="translate(5.543 10.852)" fill="none" stroke="#BCBEC0"
                                        stroke-linecap="round" stroke-width="1" />
                                    <line id="Linha_28-3" data-name="Linha 28" y1="3"
                                        transform="translate(7.543 10.852)" fill="none" stroke="#BCBEC0"
                                        stroke-linecap="round" stroke-width="1" />
                                    <line id="Linha_29-3" data-name="Linha 29" y1="3"
                                        transform="translate(9.543 10.852)" fill="none" stroke="#BCBEC0"
                                        stroke-linecap="round" stroke-width="1" />
                                </g>
                                <g id="Grupo_330" data-name="Grupo 330" transform="translate(-11 14.895) rotate(-90)">
                                    <line id="Linha_24-4" data-name="Linha 24" y1="3"
                                        transform="translate(5.543 10.852)" fill="none" stroke="#BCBEC0"
                                        stroke-linecap="round" stroke-width="1" />
                                    <line id="Linha_28-4" data-name="Linha 28" y1="3"
                                        transform="translate(7.543 10.852)" fill="none" stroke="#BCBEC0"
                                        stroke-linecap="round" stroke-width="1" />
                                    <line id="Linha_29-4" data-name="Linha 29" y1="3"
                                        transform="translate(9.543 10.852)" fill="none" stroke="#BCBEC0"
                                        stroke-linecap="round" stroke-width="1" />
                                </g>
                            </g>
                        </svg>
                        Device Manager
                    </a>
                </li>
                <% } %>

                <% if(user==='Owner' ){ %>
                <li class="mb-2" id="user_management_nav">
                    <a href="/user-management"
                        class="flex items-center hover:bg-[#ddeee5] py-3 px-5 text-sm hover:font-medium rounded-full">
                        <svg width="23px" height="23px" class="mr-3" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="9" cy="6" r="4" stroke="#00a651" stroke-width="1.5" />
                            <path opacity="0.5"
                                d="M12.5 4.3411C13.0375 3.53275 13.9565 3 15 3C16.6569 3 18 4.34315 18 6C18 7.65685 16.6569 9 15 9C13.9565 9 13.0375 8.46725 12.5 7.6589"
                                stroke="#BCBEC0" stroke-width="1.5" />
                            <ellipse cx="9" cy="17" rx="7" ry="4" stroke="#00a651" stroke-width="1.5" />
                            <path opacity="0.5"
                                d="M18 14C19.7542 14.3847 21 15.3589 21 16.5C21 17.5293 19.9863 18.4229 18.5 18.8704"
                                stroke="#BCBEC0" stroke-width="1.5" stroke-linecap="round" />
                        </svg>
                        User Management
                    </a>
                </li>
                <% } %>

                <li class="mb-2">
                    <button
                        id="logout_btn"
                        class="flex items-center hover:bg-[#ffe5e5] py-3 px-5 text-sm w-full hover:font-medium rounded-full">
                        <svg width="23px" height="23px" class="mr-3" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path opacity="0.5"
                                d="M9.00195 7C9.01406 4.82497 9.11051 3.64706 9.87889 2.87868C10.7576 2 12.1718 2 15.0002 2L16.0002 2C18.8286 2 20.2429 2 21.1215 2.87868C22.0002 3.75736 22.0002 5.17157 22.0002 8L22.0002 16C22.0002 18.8284 22.0002 20.2426 21.1215 21.1213C20.2429 22 18.8286 22 16.0002 22H15.0002C12.1718 22 10.7576 22 9.87889 21.1213C9.11051 20.3529 9.01406 19.175 9.00195 17"
                                stroke="red" stroke-width="1.5" stroke-linecap="round" />
                            <path d="M15 12L2 12M2 12L5.5 9M2 12L5.5 15" stroke="#BCBEC0" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        Logout
                    </button>
                </li>
            </ul>
        </div>
    </aside>


    <!-- Main Content body -->
    <div class="md:ml-64 ml-0 mt-[80px] z-0">
        <div class="ml-2 md:mr-4 mr-2 p-3 rounded-lg bg-[#F3F3F8] h-auto">
            <div class="flex justify-between lg:items-center lg:flex-row flex-col">
                <div class="flex order-2 lg:order-1 md:flex-row flex-col">
                    <div class="flex items-center bg-white rounded shadow">
                        <div class="px-4 py-3  bg-[#00a651] rounded-tl rounded-bl">
                            <svg fill="#ffffff" height="30px" width="30px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve">
                                <g>
                                    <g>
                                        <g>
                                            <path d="M501.508,441.721h-19.934v-31.475c0-5.795-4.697-10.492-10.492-10.492h-41.967c-5.795,0-10.492,4.697-10.492,10.492
                                                v31.475h-21.745c-5.107-35.542-35.748-62.951-72.681-62.951H307.41c0,0-0.077-69.528-0.219-70.219
                                                c1.255-15.554-4.041-31.543-15.914-43.416l-55.456-55.457l65.663-65.663c3.25-3.25,5.892-6.883,7.928-10.753h65.147
                                                c5.795,0,10.492-4.697,10.492-10.492V112.28h24.481v10.508c0,3.749,2,7.212,5.246,9.086l36.372,20.998
                                                c1.623,0.937,3.434,1.406,5.246,1.406s3.623-0.469,5.246-1.406l36.372-20.999c5.018-2.897,6.738-9.314,3.84-14.332
                                                c-2.897-5.018-9.315-6.738-14.332-3.84l-31.126,17.969l-25.88-14.941V86.844l25.88-14.941l31.126,17.97
                                                c5.019,2.898,11.436,1.178,14.332-3.84c2.898-5.018,1.178-11.435-3.84-14.332l-36.372-20.999c-3.246-1.875-7.246-1.875-10.492,0
                                                l-36.372,20.999c-3.246,1.874-5.246,5.337-5.246,9.086v10.508h-24.481V80.803c0-5.795-4.697-10.492-10.492-10.492h-90.158
                                                c-15.593-5.313-33.562-1.769-45.976,10.644l-76.329,76.33c-28.253,5.003-49.786,29.719-49.786,59.387
                                                c0,19.848,9.639,37.484,24.477,48.485c1.863,2.7,3.988,5.271,6.388,7.672l57.459,57.458v48.483h-12.83
                                                c-36.933,0-67.573,27.409-72.681,62.951H93.377v-31.475c0-5.795-4.697-10.492-10.492-10.492H40.918
                                                c-5.795,0-10.492,4.697-10.492,10.492v31.475H10.492C4.697,441.72,0,446.417,0,452.212c0,5.795,4.697,10.492,10.492,10.492
                                                h491.016c5.795,0,10.492-4.697,10.492-10.492C512,446.417,507.303,441.721,501.508,441.721z M364.066,91.295v20.984h-49.549
                                                c-0.034-7.233-1.815-14.457-5.337-20.984H364.066z M72.393,441.721H51.41v-20.984h20.984V441.721z M253.261,95.793
                                                c4.459-4.459,10.386-6.914,16.692-6.914c6.306,0,12.233,2.455,16.692,6.914c9.204,9.204,9.204,24.18,0,33.385l-60.223,60.224
                                                c-7.39-14.518-20.476-25.663-36.304-30.465L253.261,95.793z M133.291,216.672c0-21.694,17.65-39.344,39.344-39.344
                                                c21.695,0,39.344,17.65,39.344,39.344c0,21.694-17.649,39.344-39.344,39.344C150.94,256.016,133.291,238.366,133.291,216.672z
                                                M176.856,276.835c25.395-1.766,46.506-19.307,53.57-42.875l46.013,46.013c13.295,13.295,13.295,34.927,0,48.222
                                                c-6.441,6.44-15.003,9.987-24.111,9.987c-9.108,0-17.671-3.547-24.111-9.987L176.856,276.835z M286.426,347.33v31.442h-64.809
                                                v-28.966c9.25,6.217,19.977,9.336,30.711,9.336C264.4,359.141,276.465,355.195,286.426,347.33z M136.398,441.721
                                                c4.875-23.915,26.072-41.967,51.406-41.967h136.393c25.333,0,46.53,18.052,51.406,41.967H136.398z M460.59,441.721h-20.984
                                                v-20.984h20.984V441.721z" />
                                            <path d="M172.635,206.18c-5.785,0-10.492,4.707-10.492,10.492c0,5.785,4.707,10.492,10.492,10.492
                                                c5.785,0,10.492-4.707,10.492-10.492C183.127,210.887,178.42,206.18,172.635,206.18z" />
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="ml-1 px-4">
                            <div class="text-md mb-0.5">Machine No</div>
                            <div class="md:text-md text-sm font-bold tracking-wide" id="machine_no_display"></div>
                        </div>
                    </div>
                    <div class="md:ml-4 md:mt-0 mt-4 flex md:flex-col flex-row">
                        <div class="font-bold text-sm md:mb-1 md:mr-0 mr-2">Page refresh time</div>
                        <div class="text-sm" id="date"></div>
                    </div>
                </div>
                <div class="order-1 lg:order-2 lg:mb-0 mb-5">
                    <div class="machineNumber_dropdown" id="machineNumber_dropdown">
                        <input type="text" name="" id="machineNo_text" class="machineNo_text" placeholder="Machine No"
                            readonly>
                        <div class="machineNumber_options" id="machine_no_option"></div>
                    </div>
                </div>
            </div>

            <div class="lg:mt-3 mt-7">
                <div class="grid xl:grid-cols-4 lg:grid-cols-2 grid-cols-1 gap-3">
                    <div class="bg-[#dae9e2] py-4 px-3 rounded-lg shadow">
                        <div class="flex  items-center">
                            <div class="bg-gray-100 p-3 rounded-full mr-5">
                                <svg fill="#3F5189" width="30px" height="30px" viewBox="0 0 24 24" id="up-arrow-circle"
                                    data-name="Flat Color" xmlns="http://www.w3.org/2000/svg" class="icon flat-color">
                                    <circle id="primary" cx="12" cy="12" r="10" style="fill: #81b29a;"></circle>
                                    <path id="secondary"
                                        d="M14.83,9.5,12.69,6.38a.82.82,0,0,0-1.38,0L9.17,9.5A1,1,0,0,0,9.86,11H11v6a1,1,0,0,0,2,0V11h1.14A1,1,0,0,0,14.83,9.5Z"
                                        style="fill: #ffffff"></path>
                                </svg>
                            </div>
                            <div class="">
                                <div class="font-bold mb-1 text-sm text-gray-700 uppercase">No. Of Shots</div>
                                <div class="font-bold text-2xl" id="shots_count">0</div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-[#f5d6ce]  py-4 px-3 rounded-lg shadow">
                        <div class="flex items-center">
                            <div class="bg-gray-100 p-3 rounded-full mr-5">
                                <svg fill="#3F5189" width="30px" height="30px" viewBox="0 0 24 24"
                                    id="down-arrow-circle" data-name="Flat Color" xmlns="http://www.w3.org/2000/svg"
                                    class="icon flat-color">
                                    <circle id="primary" cx="12" cy="12" r="10" style="fill: #e07a5f;"></circle>
                                    <path id="secondary"
                                        d="M14.14,13H13V7a1,1,0,0,0-2,0v6H9.86a1,1,0,0,0-.69,1.5l2.14,3.12a.82.82,0,0,0,1.38,0l2.14-3.12A1,1,0,0,0,14.14,13Z"
                                        style="fill: #ffffff"></path>
                                </svg>
                            </div>
                            <div class="">
                                <div class="font-bold mb-1 text-sm text-gray-700 uppercase">No. Of Rejection</div>
                                <div class="font-bold text-2xl" id="rejections_count">0</div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-[#cbe7f8] py-4 px-3 rounded-lg shadow">
                        <div class="flex items-center">
                            <div class="bg-gray-100 p-3 rounded-full mr-5">
                                <svg fill="#3F5189" width="30px" height="30px" viewBox="0 0 24 24"
                                    id="up-right-arrow-circle" data-name="Flat Color" xmlns="http://www.w3.org/2000/svg"
                                    class="icon flat-color">
                                    <circle id="primary" cx="12" cy="12" r="10" style="fill: #1982c4;"></circle>
                                    <path id="secondary"
                                        d="M15.79,7.24l-3.73.7a1,1,0,0,0-.57,1.55l.8.8L7.76,14.83a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l4.54-4.53.8.8a1,1,0,0,0,1.55-.57l.7-3.73A.82.82,0,0,0,15.79,7.24Z"
                                        style="fill: #ffffff;"></path>
                                </svg>
                            </div>
                            <div class="">
                                <div class="font-bold mb-1 text-sm text-gray-700 uppercase">Average Pressure</div>
                                <div class="font-bold text-2xl" id="average_pressure_count">0</div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white py-4 px-3 rounded-lg shadow operator_detail">
                        <div class="flex  items-center">
                            <div class="">
                                <div class="flex items-center">
                                    <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5 21C5 17.134 8.13401 14 12 14C15.866 14 19 17.134 19 21M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z"
                                            stroke="#dda15e" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                    <p class="ml-2 font-medium">Operator : </p>
                                </div>
                            </div>
                            <div class="ml-3">
                                <div class="font-bold" id="operator_name">John</div>
                            </div>
                        </div>
                        <div class="flex  items-center mt-2">
                            <div class="">
                                <div class="flex items-center">
                                    <svg fill="#2a9d8f" width="20px" height="20px" viewBox="0 0 32 32" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <title>time1</title>
                                        <path
                                            d="M16 3.5c-7.181 0-13 5.82-13 13s5.819 13 13 13c7.179 0 13-5.82 13-13s-5.82-13-13-13zM15.895 27.027c-5.799 0-10.5-4.701-10.5-10.5s4.701-10.5 10.5-10.5c5.798 0 10.5 4.701 10.5 10.5s-4.702 10.5-10.5 10.5zM18.93 17.131h-2.98v-5.032c0-0.546-0.443-0.99-0.989-0.99s-0.99 0.443-0.99 0.99v6.021c0 0.547 0.443 0.989 0.99 0.989h3.969c0.547 0 0.99-0.442 0.99-0.989 0-0.546-0.443-0.989-0.99-0.989z">
                                        </path>
                                    </svg>
                                    <p class="ml-2 font-medium">Shift : </p>
                                </div>
                            </div>
                            <div class="ml-3">
                                <div class="font-bold" id="operator_shift">I</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-3">
                <div class="grid xl:grid-cols-3 grid-cols-1 gap-3">
                    <div class="bg-white pt-4 pr-4 pl-4 rounded xl:col-span-2">
                        <div class="text-md font-[500] mb-3 capitalize">Shot counts every last 5 hour</div>
                        <div id="chart" class=""></div>
                    </div>
                    <div class="w-full bg-white pt-4 pr-4 pl-4 pb-2 rounded">
                        <div class="text-md font-[500]  capitalize">Overall Equipment Effectiveness - <span
                                class="font-bold text-sm">OEE</span></div>
                        <div id="bar_chart" class="w-[330px] h-[230px] my-2"></div>
                        <div class="mt-2">
                            <div class="flex items-center justify-between mb-1.5">
                                <div class="">Availability</div>
                                <div class="font-medium">50%</div>
                            </div>
                            <div class="flex items-center justify-between mb-1.5">
                                <div class="">Performance</div>
                                <div class="font-medium">40%</div>
                            </div>
                            <div class="flex items-center justify-between mb-1.5">
                                <div class="">Quality</div>
                                <div class="font-medium">20%</div>
                            </div>
                            <div class="flex items-center justify-between">
                                <div class="font-bold">OEE</div>
                                <div class="font-bold">58%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>




    <script src="/js/authCheck.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/dashboard.js"></script>



</body>

</html>