#admin_profile{
    display: block;
}

#admin_profile.active{
    display: none;
}

.loader {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #000000;
    border-right: 4px solid transparent;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
}

#loader {
    display: none;
}

#loader.active {
    max-width: 43px;
    margin: 0 auto;
    display: block;
    padding: 2rem 0;
}

.loader:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid #00a651;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


#a_name_input{
    display: none;
}
#a_email_input {
    display: none;
}
#a_phone_input{
    display: none;
}
#a_role_input{
    display: none;
}


#a_name_input.active{
        display: block;
    }
#a_email_input.active{
        display: block;
    }
#a_phone_input.active{
    display: block;
}
#a_role_input.active{
    display: block;
}


#a_saveUpdate_btn{
    display: none;
}
#a_saveUpdate_btn.active{
    display: block;
}


#a_cancelUpdate_btn{
    display: none;
}
#a_cancelUpdate_btn.active{
    display: block;
}



#save_resetpassword_btn{
    display: none;
}

#save_resetpassword_btn.active{
    display: block;
}

#cancel_resetpassword_btn{
    display: none;
}

#cancel_resetpassword_btn.active{
    display: block;
}


#profile_container{
    display: block;
}

#profile_container.active{
    display: none;
}

#password_container{
    display: none;
}

#password_container.active{
    display: block;
}