

#pdf_page_container{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: auto;
    background: rgba(0,0,0,0.7);
    padding: 30px 10px;
    z-index: 999999;
    display: none;
}

.pdf_page_box{
    position: relative;
    max-width: 920px;
    margin: 0 auto;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 2px;
}

#pdf_page_container.active{
    display: block;
}

.pdf_page_box .r_close_btn{
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    cursor: pointer;
}
